@red: #ef4e3a;
@white: #FFFFFF;

#map {
	position:absolute;
	width: 100%;
	height: 100%;
	padding-top: 44px; //Header

}

// Localisation button
.locationButton{
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 1;
}

.recordButton{
	position: absolute;
	color: @red;
	font-size: 70px;
	bottom: 5px;
	left:auto;
	right: 40%;
	z-index: 1;

	text-shadow: 0 0 10px #000;
}


//Location pin
i.ion-location {
	font-size: 30px;
	color: @red;
}


