<div class="modal">
  <header class="bar bar-header bar-assertive">
    <h1 class="title">Signaler un problème</h1>
    <button class="button" ng-click="closeSignal()">Annuler</button>
  </header>
  <ion-content has-header="true" padding="true">
  <div class="list">
    <label class="item item-input">
      <span class="input-label">Type</span>
      <input type="text" placeholder="">
    </label>
    <label class="item item-input">
      <span class="input-label">Description</span>
      <input type="text" placeholder="">
    </label>
    <button class="button button-full button-positive" ng-click="closeSignal()">Create</button>
  </div>
</div>
</ion-content>
</div>